.bookingForm-main {
  grid-column: 1 / span 12;
  display: grid;
  gap: 65px;
  width: 45%;
  min-width: 500px;
}

.res-date, .res-time, .res-guests, .res-location, .res-additionals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  justify-items: center;
}

.res-occasion, .res-additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 20px;
}

.res-radio  {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.location-radio {
  display:flex;
}

.location-radio > h3 {
  font-weight: normal;
}