.hero_main {
  background-color:#495E57;
  grid-column: 1/ span 12;
  grid-row: 2/ span 5;
}

.hero_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero_content {
  margin-top: 50px;
  width: 60%;
}

.heading {
  margin-bottom: 0;
}

.subheading {
  margin-top: 0;
}

.hero_img_container {
  display: flex;
  justify-content: center;
  margin: auto;
  grid-column: 2;
}

.hero_image {
  width: 60%;
  height: auto;
  max-height: 700px;
  border-radius: 16px;
  box-shadow: 5px 10px 8px #333333;
}

@media screen and (max-width: 850px) {

  .hero_image {
    display: none;
  }

  .hero_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  p {
    font-size: 1em;
  }

  .btn1 {
    font-size: .8em;
  }
}
