.navbar_main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  margin: auto;
}

.nav-link {
  flex-basis: auto;
  text-decoration: none;
  color: black;
  transition: color 0.8s ease;
}

.nav-link:hover {
  border-bottom: 1px solid;
  border-color: #495e57;
  color: #f4ce14;
}

@media screen and (max-width: 800px) {
  a {
    display: none;
  }
}