.card-specials {
  height: 80%;
  width: 300px;
  border: 1px solid black;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin: 20px;
  background-color: #EDEFEE;
  transition: transform 0.3s ease;
}

.card-specials > img {
  border: 1px solid black;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.title {
  margin-left: 15px;
  display: inline-block;
}

.price {
  margin-right: 20px;
}

.card-info-head {
  display: flex;
  justify-content: space-between;
}

.card-text {
  width: 80%;
  padding: 15px;
  font-size: 1.2rem;
  margin: auto;
}

.card-action {
  margin-left: 20px;
  margin-top: 15px;
}



@media screen and (min-width: 1200px) {
  .card-specials::after, .card-specials::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
  }

  .card-specials:hover {
    transform: translate(-12px,-12px);
  }

  .card-specials:hover::after {
    transform: translate(6px,6px);
  }

  .card-specials:hover::before {
    transform: translate(12px,12px);
  }
}