.about__container {
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 10rem;
  padding: 10rem;
}
  .about__details {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


.about__images {
  position: relative;
  height: 20rem;
  width: auto;
  gap: 4rem;

  img {
    position: absolute;
    border-radius: 20px;
    height: auto;
    width: 40%;
    object-fit: cover;
    transition: transform 500ms ease;
  }
  img:nth-child(1) {
    left: 50%;
  }
  img:nth-child(2) {
    left: 5%;
  }
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
    .about__container {
      display: flex;
      justify-content: center;
      padding: 1rem;

      .about__images {
        display: none;
      }
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
}