@import '../../index.scss';


.header__container {
  background: $color-bg-variant;
  padding: 10rem 2rem 6rem 2rem;
}

.header__banner { 
  display: grid;
  grid-template-columns: 45% 55%;
  width: 90%;
  gap: 4rem;
  & > * {
    text-align: center;
  }
}

.header__banner-image-container {
  position: relative;
  height: 20rem;
  width: auto;

  img {
    height: auto;
    width: 100%;
    max-width: 35rem;
    position: absolute;
    border-radius: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  .header__container {
    padding: 10rem 0 6rem 0;
  }
  .header__banner{
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    width:100%;

    & > * {
      padding: 0;
    }
  }

  .header__banner-details {
    padding-bottom: 2rem;
    p {
      display: none;
    }
  }

  .header__banner-image-container {
    width: 100vw;
    img {
      border-radius: 0;
    }
  }
}