@import '../../../index.scss';

.testimonialCard__container {
  height: 30rem;
  border: 2px solid $color-light;
  text-align: center;
  background: #ffffff85;
  border-radius: 15px;
  min-width: 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: $transition;
  .testimonial__img-container {
    margin: 1rem 1rem;
    overflow: hidden;
    border-radius: 5rem;
    height: 10rem;
    width: 10rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .testimonial__details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.testimonialCard__container:hover {
  background: transparent;
  border-color: #E98074;
}


