@import '../../index.scss';

.testimonials__container {
  text-align: center;
  margin-top: 5rem;

  .cards__container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    height: fit-content;
    padding-top: 4rem;
  }
}


/* =========== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
  .testimonials__container {
    height:fit-content;
    margin-bottom: 5rem;
    .cards__container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  .testimonials__container {
    .cards__container {
      grid-template-columns: 1fr;
    }
  }
}