@import '../../index.scss';

.testimonials__container {
  height: 75vh;
  text-align: center;

  .cards__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    height: fit-content;
    padding-top: 6rem;
  }
}


/* =========== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
  .testimonials__container {
    .cards__container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  .testimonials__container {
    .cards__container {
      grid-template-columns: 1fr;
    }
  }
}