.primary1 {
  color: #495e57
}

.primary2 {
  color: #f4ce14
}

.secondary1 {
  color: #EE9972
}

.secondary2 {
  color: #fbdabb
}

.highlight1 {
  color: #edefee
}

.highlight2 {
  color: #333333
}

.flex-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}