.primary1 {
  color: rgb(73,94,87)
}

.primary2 {
  color: rgb(244,206,20)
}

.secondary1 {
  color: rgb(251,218,187)
}

.secondary2 {
  color: rgb(237,239,238)
}

.highlight1 {
  color: rgb(237, 239, 238)
}

.highlight2 {
  color: rgb(51,51,51)
}
